apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      containers:
        - name: payment
          image: hashicorp/http-echo
          args:
            - "-text=payment response"
          ports:
            - containerPort: 5678
