apiVersion: apps/v1
kind: Deployment
metadata:
  name: inframind-frontend
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inframind-frontend
  template:
    metadata:
      labels:
        app: inframind-frontend
    spec:
      containers:
        - name: frontend
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: inframind-frontend-html
